// Classes
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage as mixins
.element {
  .center-block();
}

#header{
	padding-top: 40%;
}



.head-container{
	width: 100%;
	height:100%;
	border-left: none;
	border-right: none;
	position: relative;
}

.video-container{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hiden;
}

video{
	position: absolute;
	z-index: -1;
	opacity: 0.78
	width:100%;
}